.row{
  background-color: unset !important;
}

input{
  border: solid 1px rgb(222, 222, 222);
}

.providerSelect{
  background: none;
  border: 1px solid rgb(227, 212, 202);
  border-radius: .2rem;
  padding: .5rem;
  width: 100%;
  margin: .2rem 0 .2rem 0;
  transition: .5s
}

.providerSelect:hover{
  background: #ddc9c1;

}